#lxdm {
	background-image: url("background-image")
}

#bottom_pane {
	background-image: url("shade.png")
}

#time {
	font: Roboto 12;
	color: #db6823
}

#user_list, #login_entry {
	background-image: none
}

#prompt, #bottom_pane GtkLabel {
	color: #db6823
}
