[Desktop Entry]
Name=Blueman Applet
Name[ast]=Applet Blueman
Name[be]=Аплет Blueman
Name[bg]=Аплет Blueman
Name[bs]=Blueman Aplet
Name[cs]=Blueman Applet
Name[da]=Blueman-panelprogram
Name[de]=Blueman-Applet
Name[el]=Μικροεφαρμογή Blueman
Name[en_AU]=Blueman Applet
Name[en_GB]=Blueman Applet
Name[es]=Miniaplicación Blueman
Name[et]=Blueman rakend
Name[fi]=Blueman-sovelma
Name[fr]=Applet Blueman
Name[gl]=Miniaplicativo Blueman
Name[hi]=ब्लूटूथ एप्पलेट
Name[hr]=Blueman programčić
Name[hu]=Blueman Alkalmazás
Name[id]=Applet Blueman
Name[it]=Blueman Applet
Name[ja]=Bluemanアプレット
Name[ko]=블루맨 애플릿
Name[lt]=Blueman programėlė
Name[mk]=Blueman аплет
Name[mr]=ब्लुटूथ एप्लेट
Name[ms]=Aplet Blueman
Name[nl]=Blueman-applet
Name[pl]=Applet Blueman
Name[pt]=Applet Blueman
Name[pt_BR]=Miniaplicativo Blueman
Name[ru]=Апплет Blueman
Name[sk]=Aplet bluetooth
Name[sl]=Aplet Blueman
Name[sr]=Блумен програмче
Name[sv]=Panelprogrammet Blueman
Name[tr]=Blueman Programcığı
Name[uk]=Аплет Blueman
Name[zh_CN]=Blueman Applet
Name[zh_TW]=Blueman Applet
Comment=Blueman Bluetooth Manager
Comment[ar]=مدير البلوتوث بلومان
Comment[ast]=Alministrador Bluetooth Blueman
Comment[be]=Blueman, Bluetooth-кіраўнік
Comment[bg]=Blueman Мениджър на Bluetooth
Comment[ca]=Gestor Bluetooth Blueman
Comment[cs]=Správce Bluetooth Blueman
Comment[da]=Blueman Bluetooth-håndtering
Comment[de]=Blueman-Bluetooth-Verwaltung
Comment[el]=Blueman διαχειριστής Bluetooth
Comment[en_AU]=Blueman Bluetooth Manager
Comment[en_GB]=Blueman Bluetooth Manager
Comment[es]=Administrador Bluetooth Blueman
Comment[et]=Blueman Bluetoothi haldur
Comment[eu]=Blueman Bluetooth-kudeatzailea
Comment[fi]=Blueman bluetooth-hallinta
Comment[fr]=Gestionnaire Bluetooth Blueman
Comment[gl]=Xestor de bluetooth Blueman
Comment[hr]=Blueman Bluetooth upravitelj
Comment[hu]=Blueman Bluetooth kezelő
Comment[id]=Blueman Manager Bluetooth
Comment[it]=Blueman Gestore Bluetooth
Comment[ja]=Blueman Bluetooth Manager
Comment[ko]=블루맨 블루투스 관리자
Comment[lt]=Blueman „Bluetooth“ tvarkytuvė
Comment[mk]=Blueman управувач со блутут
Comment[mr]=ब्लुमॅन ब्लुटूथ व्यवस्थापक
Comment[ms]=Pengurus Bluetooth Blueman
Comment[nb]=Blueman Bluetooth Manager
Comment[nl]=Blueman Bluetooth-beheer
Comment[pl]=Menedżer Bluetooth Blueman
Comment[pt]=Gestor de Bluetooth Blueman
Comment[pt_BR]=Gerenciador de Bluetooth Blueman
Comment[ro]=Administratorul Bluetooth Blueman
Comment[ru]=Менеджер Bluetooth Blueman
Comment[sk]=Správca Bluetooth Blueman
Comment[sl]=Upravljalnik Blueman Bluetootha
Comment[sr]=Блутут управник Блумен
Comment[sv]=Blåtandshanteraren Blueman
Comment[tr]=Blueman Bluetooth Yöneticisi
Comment[uk]=Менеджер bluetooth Blueman
Comment[vi]=Blueman - Trình quản lý Bluetooth
Comment[zh_CN]=Blueman蓝牙管理器
Comment[zh_TW]=Blueman 藍牙裝置管理軟體
Icon=blueman
#Exec=blueman-applet
Terminal=false
Type=Application
Categories=

