[Desktop Entry]
NoDisplay=true
Name=ClipIt
Name[ca]=ClipIt
Comment=Clipboard Manager
Comment[bg]=Мениджър за клипборда
Comment[ca]=Gestor del porta-retalls
Comment[cs]=Správce schránky
Comment[da]=Udklipsholder
Comment[de]=Zwischenablage-Verwaltung
Comment[es]=Gestor de Portapapeles
Comment[es_ES]=Gestor del portapapeles
Comment[et]=Lõikepuhvrihaldur
Comment[fi]=Leikepöydän hallinta
Comment[fr]=Gestionnaire de presse-papier
Comment[fr_FR]=Gestionnaire de Presse-Papier
Comment[gl_ES]=Xestor de portarretallos
Comment[hu]=Vágólapkezelő
Comment[it]=Gestore degli appunti
Comment[ja]=クリップボード・マネージャ
Comment[lt]=Iškarpinės tvarkytuvė
Comment[nb]=Utklippstavleverkty
Comment[pl]=Schowek
Comment[pt_BR]=Gerenciador de Área de Transferência
Comment[pt_PT]=Gestor de Área de Transferência
Comment[ro]=Administrator clipboard
Comment[ru]=Менеджер буфера обмена
Comment[sv]=Urklippshanterare
Comment[tr]=Pano Yöneticisi
Comment[zh_CN]=剪切板管理器
Icon=clipit-trayicon
Exec=clipit
Terminal=false
Type=Application
Categories=GTK;GNOME;Application;Utility;
